{% extends 'base.html.twig' %}

{% block title %}Gérer les spécialités{% endblock %}
{% block headline %}Ajouter une nouvelle spécialité{% endblock %}
{% block body  %}
    
    <div class="row">
        {{ form(form) }}
    </div>

{% endblock %}