{% extends 'base.html.twig' %}

{% block title %}Status Processus{% endblock %}

{% block headline %}Status Processus{% endblock %}

{% block body %}

<h4> Processus 1: <input type="image" title="Running" src="https://img.icons8.com/color/24/000000/ok.png" /> </h4> 

<h4> Processus 2: <input type="image" title="Failed" src="https://img.icons8.com/color/24/000000/cancel.png" /> </h4> 

<h4> Processus 3: <input type="image" title="Annuler" src="https://img.icons8.com/material/24/000000/cancel-2.png" /> </h4> 

<h4> Processus 4: <input type="image" title="En Cours" src="https://img.icons8.com/color/24/000000/synchronize.png" /> </h4> 

 


{% endblock %}

