
<ul class="nav nav-pills">
    <li><a href="{{ path('sharedwithme') }}"><b>Dossiers partagés avec moi</b></a></li>
    <li><a href="{{ path('validatepatient') }}"><b>Mes modifications en attente</b></a></li>
</ul>
